@keyframes color-change {
    0% {
      color: #9e2a2b;
    }
  
    50% {
      color: #003566;
    }
  
    100% {
      color: #9e2a2b;
    }
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    background-color: #fff3b0;
    color: #000000;
    /* animation: color-change 3s infinite; */
}

h1 {
    color: #fd98fb;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: dotted 1px black;
    /* animation: color-change 3s infinite; */
}

h1:hover{
    animation: color-change 3s infinite;
}

/* h2 {
    animation: color-change 3s infinite;
} */

/* p {
    animation: color-change 3s infinite;
} */



